@model BlogApp.Entities.Dtos.UserDtos.UserUpdateDto

@{
    ViewBag.Title = "Profile Settings";
}

<div class="row mt-5">
    <div class="col-md-8 col-lg-6 mx-auto">
        <div class="card">
            <h3 class="card-header text-center"><span class="fa-solid fa-wrench"></span> Profile Settings</h3>
            <div class="card-body">
                <form asp-controller="User" asp-action="ChangeDetails" method="post">
                    <div asp-validation-summary="All" id="validation-summary" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" aria-hidden="true">
                    <div class="form-group">
                        <label asp-for="Username" class="form-text"></label>
                        <input type="text" asp-for="Username" class="form-control">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="form-text"></label>
                        <input type="email" asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="form-text"></label>
                        <input type="text" asp-for="PhoneNumber" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Picture"></label>
                        <input type="hidden" asp-for="Picture">
                        <img src="~/img/@Model.Picture" alt="@Model.Id" style="max-width: 50px;">
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="PictureFile" class="form-text"></label>
                        <input type="file" accept="image/*" asp-for="PictureFile" class="form-file">
                        <span asp-validation-for="PictureFile" class="text-danger"></span>
                    </div>
                    <button asp-controller="User" asp-action="ChangeDetails" class="btn btn-warning btn-block mb-2"><span class="fa-solid fa-floppy-disk"></span> Save Changes</button>
                    <button asp-controller="Home" asp-action="Index" class="btn btn-danger btn-block"><span class="fa-solid fa-xmark"></span> Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>