@model BlogApp.Entities.Dtos.UserDtos.UserPasswordChangeDto

@{
    ViewBag.Title = "Change Password";
}

<div class="row mt-5">
    <div class="col-md-8 col-lg-6 mx-auto">
        <div class="card">
            <h3 class="card-header text-center"><span class="fa-solid fa-key"></span> Change Password</h3>
            <div class="card-body">
                <form asp-controller="User" asp-action="PasswordChange" method="post">
                    <div asp-validation-summary="All" id="validation-summary" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="form-text"></label>
                        <input type="password" asp-for="CurrentPassword" class="form-control">
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewPassword" class="form-text"></label>
                        <input type="password" asp-for="NewPassword" class="form-control">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ReNewPassword" class="form-text"></label>
                        <input type="password" asp-for="ReNewPassword" class="form-control">
                        <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                    </div>
                    
                    <button asp-controller="User" asp-action="PasswordChange" class="btn btn-warning btn-block mb-2"><span class="fa-solid fa-floppy-disk"></span> Save Changes</button>
                    <button asp-controller="Home" asp-action="Index" class="btn btn-danger btn-block"><span class="fa-solid fa-xmark"></span> Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>